.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  /* color: white; */
  /* background-color: none; */
  color: #47b647;
}
.storybook-button--secondary {
  color: #333;
  /* background-color: transparent; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--Default {
  font-size: 28px;
  padding: 10px 16px;
}
.storybook-button--Small {
  font-size: 24px;
  padding: 11px 20px;
  /* color: #47b647; */
}
.storybook-button--X-Small {
  font-size: 22px;
  padding: 12px 24px;
  /* color: #47b647; */
}

.storybook-button--DefaultT {
  color: #47b647;
}
.storybook-button--NeutralT {
  font-size: 28px;
  padding: 10px 16px;
  color: #282829;
  background-color: gray;
}
/* .storybook-button--ReverseT {
  font-size: 28px;
  padding: 10px 16px;
  color: #47b647;
} */
